<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'tvmpop.css' %}">
<head>
    <meta charset="UTF-8">
    <title>TVM Popups</title>
</head>
<body>
    <div id="loader-wrapper">
        <h1 id="loader">generating screenshots</h1>
        <div id="progress">Initializing...</div>
    </div>
    <form id="form-params" action="/popups/">
        <div class="form-row"><span>Resolution:</span>
            <span class="res-wrapper">
                <input class="res" id="width"     type="text" name="width" value="800">
                x
                <input class="res" id="height"     type="text" name="height" value="600">
            </span>
        </div>
        <div class="form-row"><span>Domain:</span>          <input id="domain"  type="text" name="domain" value="https://player.tvmucho.com"></div>
        <div class="form-row"><span>Activation code:</span> <input id="code"    type="text" name="code" value="*enter your code*"></div>
        <div class="form-row"><span>Language:</span>
            <label>
            <select id="lang" name="language">
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="Syrian">Syrian</option>
            </select>
        </label>
        </div>
        <div class="form-row"><span>Area of screen:</span>
<!--            <input id="segment" type="" name="language" value="French">-->
        <label>
            <select id="segment" name="segment">
                <option value="Fullscreen">Fullscreen</option>
                <option value="Element">Element</option>
            </select>
        </label>
        </div>
        <input id="submitter" class="btn" type="submit" value="Generate">
        <div id="form-error">Activation code is wrong, please enter correct code!</div>
    </form>
    <div id="screens-list">
    </div>
    <div id="error">
        Error! Something went wrong.
    </div>
</body>
<script src="{% static 'initiate.js' %}"></script>
<script src="{% static 'axios.js' %}"></script>
</html>